@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Iordache Catalin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Iordache Catalin MVC Application</a>.</p>
</div>
