.navBarContainer {
    max-width: 1600px;
    margin: 0 auto;
}

.nav-Custom-Style {
    margin: 20px 0px 20px 0px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(10, 138, 212);
}
.footer {
    max-width: 1600px;
    margin-bottom:20px;
}

.fa-solid {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    font-size: 16px;
}

.itemStyle {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    color: white;
    opacity: 1;
    
}
.nav-item{
    border-radius:8px;
}
    .nav-item:hover {
               box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

.nav-item:active, .nav-item:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
   